<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header">
    <title>Form</title>
    <link rel="stylesheet" href="../../../css/main-static.css" th:href="@{/css/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<div th:replace="fragments :: mainTitle"></div>
<div th:replace="fragments :: mainMenu"></div>
<h3 th:text="${formTitle}">Form template static</h3>
<form action="/form" th:action="@{/form}" th:object="${person}" method="post">
    <input type="hidden" th:field="*{id}"/>

    <label for="firstName">First name:</label>
    <input type="text" th:field="*{firstName}" value="John"/><br/>

    <label for="lastName">Last name:</label>
    <input type="text" th:field="*{lastName}" value="Doe"/><br/>

    <label for="phone">Phone:</label>
    <input type="text" th:field="*{phone}" value="+48 228 460 465"/><br/>

    <label for="mobile">Mobile:</label>
    <input type="text" th:field="*{mobile}" value="+48 798 654 321"/><br/>

    <input type="submit"/>
</form>
</body>
</html>