<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Boca De Muerte</title>
     <link rel="stylesheet" href="../../../css/main-static.css" th:href="@{/css/style.css}" />
    <meta charset="utf-8"/>
</head>
<body>
<div class="center">
    <h1>Boca De Muerte</h1>
    I'm a block-level-ish element of an unknown width and height, centered vertically within my parent.
    <a class="button" href="mainMap.html" th:href="@{/mainMap}">Sail to sea, Mate!</a>
</div>
</body>
</html>